* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('img/blur_bg_M.jpg')
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
  }
.menu {
    background-color: #8bc7db;
  }
a {
    text-decoration: none;
  }
a:hover {
    text-decoration: underline;
  }
.menu ul {
    display: flex;
    justify-content: space-around;
  }
.menu li {
    list-style: none;
  }
.site-subtitle,.site-title {
    color: #424242;
    text-align: center;
  }
.site-subtitle {
    font-style: italic;
  }
  